@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('../modules/reset.css');


/* Inicio do Body. */

body {
    overflow-y: hidden;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(180deg, #33383D 0%, #1C1D20 100%);
}

main {
    display: flex;
    justify-content: center;
}

/* Inicio do Login */